{% extends "base.html" %}
{% block title%}
{{object.category.name}} - {{object.name}}
{% endblock %}
{% block pageheader %}
<h1 class="text-center"> {{object.category.name}} </h1>
{% endblock %}
{% block content %}
<div class="container">
    <div class="card h-auto">
        <p class="card-header h2">{{object.name}}</p>
        <img src="{{object.image.url}}" class="card-img-top" alt="{{object.image}}">
        <div class="card-body">
        <h5 class="card-title">{{object.name}}</h5>
        <p class="card-text">Объем: <small class="text-muted">{{object.volume}} {{object.measurement}}</small></p>
        <p class="card-text">Калорий: <small class="text-muted">{{object.calories}} КК</small></p>
        <p class="card-subtitle">Описание:</p>
        <p class="card-text">{{object.description}}</p>
        </div>
    </div>
</div>
{% endblock %}