{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title%}
Главная страница
{% endblock %}
{% block pageheader %}
<h1 class="text-center pb-3"> {% trans "Main page"%} - ресторан кушайсам</h1>
{% endblock %}
{% block content %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col-6'>
            <p><a class="h4 link-dark" href="{% url "prod_by_cat" cat=1 %}">{% trans 'Dishes' %}</a></p>
            {% for subcategory in subcategories %}
                {% if subcategory.category.pk == 1 %}
                <p><a href="{% url "prod_by_subcat" cat=1 subcat=subcategory.pk %}">{{subcategory.name}}</a></p>
                {% endif %}
            {% endfor %}
        </div>
      <div class='col-6'>
            <p><a class="h4 link-dark" href="{% url "prod_by_cat" cat=2 %}">{% trans 'Drinks' %}</a></p>
            {% for subcategory in subcategories %}
                {% if subcategory.category.pk == 2 %}
                <p><a href="{% url "prod_by_subcat" cat=2 subcat=subcategory.pk %}">{{subcategory.name}}</a></p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}